### prism ###
cluster_name = "[prism_cluster_name]"

username = "[prism_username]"
password = "[prism_password]"
endpoint = "[prism_endpoint]"

### subnet module ###
subnet_info = {
  name      = "[subnet_name]"
  vlan_id   = "[subnet_vlan_id]"
  subnet_ip = "[subnet_subnet_ip]"
}

### vm module ###
vm_info_list = [
  {
    name       = "[vm_name_1]"
    cpu        = "[vm_cpu_1]"
    memory     = "[vm_memory_1]"
    disk       = "[vm_disk_1]"
    image_name = "[vm_image_name_1]"
    ip         = "[vm_ip_1]"
  },
  {
    name       = "[vm_name_2]"
    cpu        = "[vm_cpu_2]"
    memory     = "[vm_memory_2]"
    disk       = "[vm_disk_2]"
    image_name = "[vm_image_name_2]"
    ip         = "[vm_ip_2]"
  }
]

